@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

h1 {
  display: none;
}
#speciality {
  text-transform: uppercase;
  text-align: center;
}
.wrapper-students {
  width: 80%;
  margin: auto;
}
.wrapper-students .content-student {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  position: relative;
}
.wrapper-students .content-student:nth-child(odd) {
  background-color: #d6d6d6;
}
.wrapper-students .content-student:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.wrapper-students .content-student img,
.wrapper-students .content-student span {
  width: calc(100% / 5);
  padding: 0 10px;
}
.wrapper-students .content-student .avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.wrapper-students .content-student .lastname {
  text-transform: uppercase;
}

h1 {
  display: none;
}
#speciality {
  text-transform: uppercase;
  text-align: center;
}
.wrapper-students {
  width: 80%;
  margin: auto;
}
.wrapper-students .content-student {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  position: relative;
}
.wrapper-students .content-student:nth-child(odd) {
  background-color: #d6d6d6;
}
.wrapper-students .content-student:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.wrapper-students .content-student img,
.wrapper-students .content-student span {
  width: calc(100% / 5);
  padding: 0 10px;
}
.wrapper-students .content-student .avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.wrapper-students .content-student .lastname {
  text-transform: uppercase;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Tags */
html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #061161;
    text-indent: .05rem;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #061161;
}

button {
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 20rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #780206;
    padding: 1rem 3rem;
}

/* Classes */
.logo {
    display: block;
    text-align: center;
    margin: 1.5rem;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}
.wrap-header {
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20rem 10rem 7rem 10rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.wrap-header * {
    margin: 1.5rem 2rem;
}
.title {
    text-align: center;
    color: #fff;
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 900;
}
.wrap-content {
    width: 100%;
    padding: 0 10rem;
    display: flex;
    flex-flow: row nowrap;
}
.avatar img {
    width: 20rem;
    max-width: 20rem;
    max-height: 20rem;
}

.content {
    width: calc(100% - 25rem);
    padding: 2rem 0;
    line-height: 2rem;
}
.content p {
    margin: 1rem 0;
}
.wrap-input {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem;
}
.wrap-input label {
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
}
.wrap-input input {
    padding: .5rem 2rem;
}
.react-tabs__tab-list{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-top: 30px;
}
.react-tabs__tab-list li{
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border:2px solid black;
    border-bottom:0;
    background-color:#d6d6d6;
    padding: 15px 20px;
    line-height: normal;
    width:200px;
    text-align: center;
    cursor:pointer;
    outline:none;
    user-select:none;
}
.react-tabs__tab--selected{
    color: #780206;
    background-color:white!important;
}
.react-tabs__tab-panel{
    opacity:0;
    transition: 0.65s all ease-in-out;
}
.react-tabs__tab-panel--selected{
    opacity: 1;
}